{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
        integrity="YOUR-INTEGRITY-CODE" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="{% static 'admin_dashboard.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kavoon&display=swap" rel="stylesheet">
    <title>admin</title>
</head>

<body>
    <div class="container-fluid-">
        <div class="row">
            <div class="col-md-3 p-0">
                <div class="card mb-3 h-auto">
                    <div class="card-header" style="min-height: 100vh;">
                        <div class="card-body card-full-height">
                            <h5 class="card-title">RareBlu</h5>
                        </div>

                        <div class="card">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <a href="{% url 'admin_home' %}" style="color: #000000;"><i class="fa-sharp fa-solid fa-grid-horizontal"></i>Dashboard</a>
                                </li>
                                <li class="list-group-item">
                                    <a href="{% url 'brand' %}" style="color: #000000;">Brands</a>
                                </li>
                                <li class="list-group-item">
                                    <a href="{% url 'salesreport' %}" style="color: #000000;">Sales</a>
                                </li>
                                <li class="list-group-item">
                                    <a href="{% url 'customer' %}" style="color: #000000;">Customers</a>
                                </li>
                                <li class="list-group-item">
                                    <a href="{% url 'admin_product' %}" style="color: #000000;">Products</a>
                                </li>
                                <li class="list-group-item">
                                    <a href="{% url 'category' %}" style="color: #000000;">Category</a>
                                </li>
                                
                                <li class="list-group-item">
                                    <a href="{% url 'order' %}" style="color: #000000;">Orders</a>
                                </li>
                                <li class="list-group-item">
                                    <a href="{% url 'coupon' %}" style="color: #000000;">Coupon</a>
                                </li>
                                <li class="list-group-item">
                                    <a href="{% url 'category_Offer' %}" style="color: #000000;">Category Offer</a>
                                </li>
                                <li class="list-group-item">
                                    <a href="{% url 'product_Offer' %}" style="color: #000000;">Product Offer</a>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-9 p-0 ">
                <div class="card mb-2 mr-3">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h5 class="card-title">{{ title }}</h5>
                        <a href="{% url 'log_in' %}"><button class="btn btn-danger">Logout</button></a>
                    </div>
                </div>
                <div class="card-header" style="min-height: 100vh;">
                    <div class="input-group-append">
                        {% block main %} {% endblock main %}
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="YOUR-INTEGRITY-CODE"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@2.10.2/dist/umd/popper.min.js" integrity="YOUR-INTEGRITY-CODE"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js" integrity="YOUR-INTEGRITY-CODE"
        crossorigin="anonymous"></script>

</body>

</html>