{% extends 'admin/admin.html' %}
{% block main %}
<div class="container mt-4">
    <div class="row">
        <a href="{% url 'returnedorders' %}" class="btn btn-primary">Returned Orders</a>
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>User</th>
                        <th>Total Paid</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ord in order %}
                        <tr>
                            <td>{{ ord.id }}</td>
                            <td>{{ ord.user }}</td>
                            <td>{{ ord.total_paid }}</td>
                            <td>{{ ord.status }}</td>
                            <td>
                                <a href="{% url 'order_view' ord.id %}" class="btn btn-primary">View Details</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock main%}