{% extends 'admin/admin.html' %}
{% block main %}
<div class="input-group mb-3">
    <table class="table text-center">
        <tr>
            <th>Sl No</th>
            <th>Customer Name</th>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Active</th>


        </tr>
        {% for cust in customer %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ cust.username }}</td>
            <td>{{ cust.email }}</td>
            <td>{{ cust.first_name }}</td>
            <td>{{ cust.last_name }}</td>
            <td>
                {% if cust.is_active %}
                <form action="{% url 'customeractive' cust.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success">Active</button>
                </form>
                {% else %}
                <form action="{% url 'customeractive' cust.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Block</button>
                </form>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock main%}