{% extends 'user/base.html' %}
{% block main %}
<section class="bg-light p-3">
    <div class="container-fluid">
        <div class="row">
            <!-- cart -->
            <div class="col-lg-9">
                <h3 class="fw-bold text-secondary">Cart Page</h3>
                <hr>
                <div class="row">
                    {% for item in cart %}
                        <div class="col-md-12">
                            {% include 'user/cart_item_detail.html' %}  
                        </div>
                    {% endfor %}
                </div>
            </div>
            <!-- cart -->
            <!-- summary -->
            <div class="col-lg-3"> 
                <div class="card mb-3 border shadow-0">
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <label class="form-label">Have coupon?</label>
                                <div class="input-group">
                                    <input type="text" class="form-control border" name="" placeholder="Coupon code" />
                                    <button class="btn btn-light border">Apply</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card shadow-0 border">
                    <div class="card-body">
                      
                        <div class="d-flex justify-content-between">
                            <p class="fw-bold">Total Charge</p>
                            <p class="fw-bold" hx-get="{% url 'hx_cart_total' %}" hx-trigger="update-menu-cart from:body" hx-swap="innerHTML">{% include 'user/cart_total.html' %}</p>
                            <!-- Add your total charge details here -->
                        </div>

                        <hr>

                        <div class="mt-3">
                            <a href="{% url 'add_address' %}" class="btn btn-success w-100 shadow-0 mb-2"> Checkout </a>
                            <a href="{% url 'home' %}" class="btn btn-light w-100 border mt-2"> Back to shop </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- summary -->
        </div>
    </div>
</section>

{% endblock %}
