{% extends 'user/base.html' %}
{% block main %}
<div  class="p-6">
<h4 class="text-center">Edit Profile</h4>
<form method="post" enctype="multipart/form-data" >
    {% csrf_token %}
    <label for="profilepic">Profile Picture:</label><br>
    <input type="file" id="profilepic" name="profilepic"><br><br>
    
    <label for="address">Address:</label><br>
    <input type="text" id="address" name="address" value="{% if user_profile %}{{ user_profile.address }}{% endif %}"><br><br>
    
    <label for="phonenumber">Phone Number:</label><br>
    <input type="text" id="phonenumber" name="phonenumber" value="{% if user_profile %}{{ user_profile.PhoneNumber }}{% endif %}"><br><br>
    
    <input type="submit" value="Save Changes">
</form>
</div>
{% endblock main %}