{% extends 'user/base.html' %}
{% block main %}
<div class="container">
    <div class="row align-items-center">
        <!-- Main Image -->
        <div class="col-md-4">
            <div class="card">
                <div id="img-div" style="position: relative; overflow: hidden;">
                    <img src="{{ product.img1.url }}" class="card-img main-img" alt="Main Image"
                        style="height: 420px; width: 430px;">
                </div>
                <hr>
                <div class="row">
                    {% for image_field in image_fields %}
                    {% if image_field %}
                    <div class="col-md-3">
                        <img src="{{ image_field.url }}" alt="Product Image" data-main-img="{{ image_field.url }}"
                            class="thumbnail-img" style="width: 100%; cursor: pointer;">
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
         
        <!-- Product Details -->
        <div class="col-md-8 my-5">
            <div class="card-body">
                <table class="table">
                    <tbody>
                        <tr>
                            <td><b>Product Name</b></td>
                            <td><b>{{ product.Product_Name }}</b></td>
                        </tr>
                        <tr>
                            <td><b>Brand</b></td>
                            <td>{{ product.Brand }}</td>
                        </tr>
                        <tr>
                            <td><b>Category</b></td>
                            <td>{{ product.Category }}</td>
                        </tr>
                        {% if category_offers %}
                        <tr>
                            <td><b>Category Offer</b></td>
                            <td>
                                {% for offer in category_offers %}
                                {{ offer.percent_offer }}% offer valid from {{ offer.start_date }} to {{offer.end_date}}
                                {% endfor %}
                            </td>
                        </tr>
                        {% endif %}
                        {% if product_offer %}
                        <tr>
                            <td><b>Product Offer</b></td>
                            <td>
                                    {% for offer in product_offer %}
                                        {{ offer.percent_offer }}% offer valid from {{ offer.start_date }} to {{ offer.end_date }}
                                    {% endfor %}
                                {% else %}
                                    <p>No offers available for this product</p>
                                </td>
                            </tr>
                            {% endif %}
                        <tr>
                        <tr>
                            <td><b>Price</b></td>
                            <td>
                                {% if product.get_discounted_price %}
                                <p>Original Price: ₹ {{ product.price }}</p>
                                <p>Offer Price: ₹ {{ product.get_discounted_price }}</p>
                                {% else %}
                                <p>Price: ₹ {{ product.price }}</p>
                                <p>No offer</p>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td><b>Stock</b></td>
                            <td>
                                {% if product.Stock >= 0 %}
                                <span class="text-danger"> In Stock</span>
                                {% else %}
                                <span class="text-danger">Out of Stock</span>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td><b>Description</b></td>
                            <td>{{ product.Description }}</td>
                        </tr>
                    </tbody>
                </table>
                <td>
                    <a class="btn btn-success mt-2" href="{% url 'add_to_cart' product.id %}">Add to Cart</a>
                    <!-- <a href="{% url 'checkout' %}" class="btn btn-success mt-2"> Buy Now </a> -->
                    <a href="{% url 'add_to_wishlist' product.id %}" class="btn btn-success mt-2"> Add to Wishlist </a>

                </td>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
        
<script>
document.addEventListener("DOMContentLoaded", function () {
    const container = document.getElementById("img-div");
    const img = document.querySelector(".main-img");

    container.addEventListener("mousemove", onZoom);
    container.addEventListener("mouseover", onZoom);
    container.addEventListener("mouseleave", offZoom);

    function onZoom(e) {
        const x = e.clientX - container.getBoundingClientRect().left;
        const y = e.clientY - container.getBoundingClientRect().top;

        img.style.transformOrigin = `${x}px ${y}px`;
        img.style.transform = "scale(1.5)";
    }

    function offZoom(e) {
        img.style.transformOrigin = 'center center';
        img.style.transform = "scale(1)";
    }

    const thumbnails = document.querySelectorAll(".thumbnail-img");

    thumbnails.forEach(thumbnail => {
        thumbnail.addEventListener("click", function () {
            const imageUrl = this.dataset.mainImg;
            updateMainImage(imageUrl);
        });
    });

    function updateMainImage(imageUrl) {
        img.src = imageUrl;
    }
});
</script>
{% endblock main %}